<div class="jowan-ad">
    <a href="https://clicks.pipaffiliates.com/c?m=9229&c=453270"><img src="https://ads.pipaffiliates.com/i/9229?c=453270" width="250" height="250" /></a>
    <a href="mailto:jowan-jp@gmail.com" class="jowan-ad__mail">
        <%= image_tag "contact_with_jowan.png" %>
        <span>Your voice will help Jowan improve&nbsp;<i class="fas fa-angle-double-right"></i></span>
    </a>
</div>