<div class="jowan-ad">
    <a href="https://clicks.pipaffiliates.com/c?m=9229&c=453270"><img src="https://ads.pipaffiliates.com/i/9229?c=453270" width="250" height="250" /></a>
    <a href="mailto:jowan-jp@gmail.com" class="jowan-ad__mail">
        <%= image_tag "contact_with_jowan.png" %>
        <% if (user_signed_in? && current_user.language == "EN") || (!(user_signed_in?)) %>
            <span>Your voice will help Jowan improve&nbsp;<i class="fas fa-angle-double-right"></i></span>
        <% else %>
            <span>ご意見等ご連絡をお待ちしております&nbsp;<i class="fas fa-angle-double-right"></i></span>
        <% end %>
    </a>
</div>