<head>
    <title>Jowan - Create Post</title>
</head>
<body>
    <div id="show" class="big--bg">
        <header class="big__pageHeader wrapper">
            <h1><a href="/"><%= image_tag 'logo.png', class: "big__pageHeader__imgLogo", alt: "Jowan" %></a></h1>
            <nav>
                <ul class="big__pageHeader__mainNav">
                    <li><a href="/posts" data-method="get"><i class="far fa-newspaper"></i>&nbsp;Artcles</a></li>
                    <li><a href="/users/sign_out" data-method="delete"><i class="fas fa-running"></i>&nbsp;LogOut</a></li>
                </ul>
            </nav>
        </header>
        <div class="big__pageContent wrapper">
            <h2 class="big__pageContent__pageTitle">Create New Article</h2>
        </div>
    </div>
        <%= render 'form', post: @post %>
    <footer>
        <p><small>&copy; 2019 Jowan</small></p>
    </footer>
</body>