.jowan-ad {
    height: 250px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    
    a {
        transition: opacity .1s linear 0s;
        position: relative;
        &:hover {
            opacity: .8;
        }
    }
    
    img {
        width: 250px;
        height: 250px;
        margin: 0 20px;
        object-fit: cover;
    }
    
    &__mail {
        span {
            width: 100%;
            text-align: center;
            background: rgba(255, 255, 255, .8);
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
}